{
    "token": "discord_token",
    "reddit": {
        "client_token": "reddit_app_client_id",
        "client_secret": "reddit_app_client_secret",
        "user": "reddit_user",
        "password": "reddit_password"
    },
    "language": "language/your_language.json",
    "ffmpeg_path": "path/to/ffmpeg",
    "command_prefix": "a character of your choice"
}